footer
{
  /* Bootstrap has very poor border support */
  border-top: 5px solid navy;
  background-color: #343a40 !important;
}

#bio-image
{
  width: 33%;
  margin-right: 20px;
}

.icon
{
  width: 100%;
  border: 0;
}

.folio_box
{
  width: 100%;
  clear: both;
}

.folio_image
{
  width: 35%;
  max-height: inherit;
  overflow: inherit;
}

.image_left
{
  float: left;
  margin-right: 20px;
}

.image_right
{
  float: right;
  margin-left: 20px;
}
